.html,body{
  margin: 0;
  font-family: 'Andada Pro', serif;
}
.btn{
  background-color: #f5ad79;
  border-radius: 10px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  height: 20%;
  font-size: 1.2em;
  padding: 10px 12px;

}
a,a:visited{
  color: inherit !important;
  text-decoration: none;
}
.be-red{
  background-color: #2E2F30;
}
.white{
  color: white;
}
.large-padding{
  padding: 10px 10px;
}
.no-margin{
  margin: 0px;
}
.field{
  margin-top: 1em;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
.conteiner{
  background-color: #999999;
}
.tabla{
  table-layout: fixed;
  width: 70%;
  margin-left: 15%;
  margin-top: 50px;
  border-collapse: collapse;
  border: 3px solid #000000;
  align-items: center;
  text-align: center;
}

.columna{
  background-color: #999999;
  text-align: center;
}
